@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&family=Sekuya&display=swap');

.weather-start {
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/public/images/49925953-5f53-4394-9e6a-52b3759cebc4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.weather-card {
  width: 300px;
  height: 520px;
  padding: 22px 18px;
  border-radius: 26px;

  background: linear-gradient(180deg, #050505 0%, #080808 40%, #000000 100%);

  background-image: repeating-linear-gradient(
    135deg,
    transparent 1px,
    transparent 8px
  );

  border: 2px solid rgba(255, 255, 255, 0.6);

  box-shadow:
    0 25px 45px rgba(0, 0, 0, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.weather-card h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;

  color: #ffffff;

  letter-spacing: 0.4px;
  text-align: center;

  margin-bottom: 14px;

  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}



.weather-card p {
  font-family: "Poppins", "SF Pro Display", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.8);

  letter-spacing: 0.2px;
}

.weather-btn {
  width: 80%;
  padding: 10px 0;

  font-size: 0.95rem;
  font-weight: 600;
  text-transform: lowercase;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border: none;
  border-radius: 18px;

  cursor: pointer;
  transition: all 0.25s ease;

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    0 6px 14px rgba(0, 0, 0, 0.25);
}

.weather-btn:hover {
  background: rgba(255, 255, 255, 0.45);
}

.weather-btn:active {
  transform: scale(0.96);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
