@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&family=Sekuya&display=swap');

.weather-start {
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.home-num {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 4px;

  color: rgba(255, 255, 255, 0.25);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.15)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 6px 40px rgba(255, 255, 255, 0.35),
    0 2px 6px rgba(0, 0, 0, 0.6);

  user-select: none;
}
.next {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.85);

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.05)
  );
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 14px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);

  cursor: pointer;
  transition: all 0.3s ease;
}


.location-aim{
  color: #ffffff;
  display: flex;
   font-size: 1.31rem;
  font-weight: 400;
}
.aim{
  color: #ffffff;
  position: absolute;
  top: 19%;
  right: 365px;
}
.date{
  color: #ffffff;
  position: absolute;
  top: 86px;
  right: 260px;
   font-size: 1.11rem;
  font-weight: 600; 
}
.location{
    color: #ffffff;
  position: absolute;
  top: 16%;
  right: 251px;
}
.weather-card {
  width: 400px;
  height: 620px;
  padding: 22px 18px;
  border-radius: 26px;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/public/images/_\ \(6\).jpeg");
   background-size: cover;
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow:
    0 25px 45px rgba(0, 0, 0, 0.35),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.open-page {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 14px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
} 
.weather-image{
  position: absolute;
  right: -37px;
  top: 55px;
  transition: all 0.25s ease;
}

