* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.Weather-last {
  width: 100%;
  max-width: 470px;
  margin: 100px auto 0;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;


  overflow-y: auto;    
  overflow-x: hidden;

  background: linear-gradient(45deg, #2f4680, #500ae4);
  border-radius: 20px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.back {
  position: absolute;
  top: 12px;
  left: 12px;

  width: 42px;
  height: 42px;

  color: #ffffff;
  font-size: 22px;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.back:hover {
  opacity: 0.8;
}

.card {
  width: 330px;         
  height: 260px;         

  padding: 24px;
  margin-top: 20px;

  /* background: rgba(255, 255, 255, 0.15); */
  border-radius: 20px;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  /* border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25); */

  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  text-align: center;

  position: relative;

  overflow-y: auto;    
  overflow-x: hidden;

  transform: none;
}

.card::-webkit-scrollbar {
  width: 6px;
}

.card::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

.card::-webkit-scrollbar-track {
  background: transparent;
}

.favor {
  position: sticky;    
  top: 0;
  margin-left: auto;

  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: background 0.25s ease;
  z-index: 2;
}

.favor:hover {
  background: rgba(255, 255, 255, 0.18);
}

.all-value {
  margin-top: 20px;
}

.location-card {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.temp-caed {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.humidity-card,
.wind-card {
  font-size: 22px;
  opacity: 0.9;
  margin-bottom: 6px;
}

.card:hover {
  box-shadow: 0 30px 65px rgba(0, 0, 0, 0.35);
}

@media (max-width: 480px) {
  .card {
    transform: scale(0.9); 
  }

  .temp-caed {
    font-size: 36px;
  }
}
