body{
 bottom: "";
}
.Weather {
    place-self: center;
    padding: 40px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #2f4680 ,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;   
}
.fav{
    background-color: black;
}