/* body{
 bottom: "";
background-color: #500ae4;
    } */
.Weather {
    place-self: center;
    padding: 40px;
    border-radius: 40px;
   
    background-image: linear-gradient(45deg, #2f4680 ,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;   
}

.fav {
   position: absolute;
  top: 10px;      
  right: 10px;      

  width: 42px;
  height: 42px;
   
  display: flex;
  align-items: end;
  justify-content: end;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.fav:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.fav.active {
  border-color: #ff4d6d;
  background: rgba(255, 77, 109, 0.15);
  color: #ff4d6d;
}

.fav:active {
  transform: scale(0.92);
}

.card {
  width: 330px;
  padding: 24px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  animation: float 2s ease-in-out infinite;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 30px 65px rgba(0, 0, 0, 0.35);
}

.weather-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 14px;
  padding: 18px;
  width: 260px;
  text-align: center;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.location-card {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.temp-caed {
  font-size: 42px;
  font-weight: bold;
  color: #f8f7f7;
  margin-bottom: 12px;
}

.humidity-card {
  font-size: 25px;
  color: #4a90e2;
  margin-bottom: 6px;
}

.wind-card {
  font-size: 25px;
  color: #50b7a0;
}

.weather-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media (max-width: 480px) {
  .weather-card {
    width: 100%;
  }

  .temp-caed {
    font-size: 36px;
  }
}
.favor {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease;
}
.favor:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.favor.active {
  border-color: #ff4d6d;
  background: rgba(255, 77, 109, 0.15);
  color: #ff4d6d;
}

.favor:active {
  transform: scale(0.92);
}






