body{
 bottom: "";
}
.Weather {
    place-self: center;
    padding: 40px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #2f4680 ,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;   
}

.fav {
   position: absolute;
  top: 10px;      
  right: 10px;      
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #040404;
  background: transparent;
  color: #f30808;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;      
  justify-content: center;
  transition: all 0.25s ease;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

.fav:hover {
  background: #030203;
  color: #fff;
}

.fav.active {
  background: #ff4d6d;
  color: #fff;
}