 @import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&family=Sekuya&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.Open {
  min-height: 100vh;
  display: grid;
  background: #563;
}
.Weather {
  place-self: center;
  padding: 40px;
  border-radius: 40px; 
  background:
     linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
     url("/public/images/_\ \(7\).jpeg"); 
  display: flex;
  flex-direction: column;
     background-size: cover;
    size: 100%;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 600px;
  max-width: 470px;
  margin: 100px auto 0;
  border-radius: 20px;
  text-align: center;
} 
.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}
.fav-icon {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease;
}
.To-home{
    position: absolute;
   left: 1px;
  top: -1%;

    width: 42px;
  height: 42px;

    display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease;
}
.col{
  position: absolute;
  left: 380px;
  top: 60%;
  display: flex;
}
.colli{
    position: absolute;
   left: 70px;
  top: 60%;
  display: flex;
}
.coll{
  position: absolute;
   left: 300px;
  top: 60%;
  display: flex;
}
.coll-prs{

   position: absolute;
   left: 157px;
  top: 59.3%;
  display: flex;
}
.fav-icon:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.fav-icon.active {
  border-color: #ff4d6d;
  background: rgba(255, 77, 109, 0.15);
  color: #ff4d6d;
}
.search-icon {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.search-icon:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.search-icon:active {
  transform: scale(0.92);
}

.btn-slide {
  align-items: center;
  gap: 6px;
}
.src-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}
.weather-icon {
  position:relative;
    right: 25px;
  top: -85px;
  margin: 90px 0;
} 
 .favr {
    position: absolute;
  right: 6px;
  top: 53%;
  z-index: 10; 
  display: inline-flex;
  align-items: center;
  gap: 10px;
   display: inline-flex;
  align-items: center;

  height: 32px;
  width: -3px;
  padding: 0 28px 0 28px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 22px;

  cursor: pointer;
  transition: all 0.25s ease;
} 
 .favr:hover {
  background: rgba(7, 7, 7, 0.962);
}
.favr-icon {
  font-size: 20px;
  color: #ffffff; 
}

.favr-text {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.favr-text {
  line-height: 1;
} 
.temperature {
    /* position: absolute;
  right: 81px;
  top: 40%; */
  font-size: 5.5rem;
  font-weight: 800;

  background: linear-gradient(
    120deg,
    rgba(245, 242, 242, 0.994),
    rgba(245, 242, 242, 0.989)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 6px 35px rgba(239, 230, 230, 0.974),
    0 2px 6px rgba(243, 240, 240, 0.969);
}


.location {
  color: #fff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.weather-data {
  cursor: pointer;
  position: absolute;
  top: 55%;
  right: 15px;
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
} 
 .weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
} 
 .weather-data .col span {
  display: block;
  font-size: 16px;
} 
 .weather-data .col img {
  width: 26px;
  margin-top: 10px;
} 
 .city-font {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #f7f4f4;
} 
 .fav {
  color: #f70404;
} 

 .card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 30px 65px rgba(0, 0, 0, 0.35);
} 

 .location-card {
  font-size: 20px;
  font-weight: 600;
  color: #f4eeee;
  margin-bottom: 10px;
} 
 .temp-caed {
  font-size: 42px;
  font-weight: bold;
  color: #f8f7f7;
  margin-bottom: 12px;
} 

.humidity-card {
  font-size: 25px;
  color: #4a90e2;
  margin-bottom: 6px;
}
.prsr{
 font-size: 1.1y0rem;
}
.wind-data{
   font-size: 1.1y0rem;

}
.wind-card {
  font-size: 25px;
  color: #50b7a0;
}
.weather-data-prsr{
  font-size: 1.5rem;
  font-weight: 800;
}
.weather-data-rise{
   font-size: .8rem;
  font-weight: 800; 
}
.pressure-data{
  font-size: 1.5rem;
  font-weight: 800;
}
.wind-p{
  position: absolute;
  left: -10px;
   width: 80px;
   height: 110px;

  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.35);
}
 .weather-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media (max-width: 480px) {
  .weather-card {
    width: 100%;
  }

  .temp-caed {
    font-size: 36px;
  }
} 

 .fav {
   /* position: absolute;
  top: 20px;      
  right: 10px;      

  width: 42px;
  height: 42px;
   
  display: flex;
  align-items: end;
  justify-content: end;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);

  border: 1.8px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.25s ease; */
} 

.fav:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
} 

 .fav.active {
  border-color: #ff4d6d;
  background: rgba(255, 77, 109, 0.15);
  color: #ff4d6d;
} 

.fav:active {
  transform: scale(0.92);
} 
.glass-toggle {
  position: absolute;
    height: 32px;
  width: -3px;
  padding: 0 28px 0 28px;
  top: 53%;
  left: 23px;  width: 110px;
  /* height: 56px; */
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  cursor: pointer;
  transition: 0.4s;
  /* padding: 0; */
  outline: none;
} 
.both-value{

}
.location-date{
  /* position: absolute;
  right: 50px;
  top: 25%; */
  font-size: 4.5rem;
  font-weight: 800;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.7),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 6px 35px rgba(247, 243, 243, 0.994),
    0 2px 6px rgb(244, 240, 240);

}
.pressure-p{
      font-size: 1.5rem;
   font-weight: 800;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.7),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;

    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.35);
}
.humidity-p{
    font-size: 1.5rem;
  font-weight: 800;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.7),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */

    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.35);

  /* text-shadow:
    0 6px 35px rgba(247, 243, 243, 0.994),
    0 2px 6px rgb(244, 240, 240); */

}

 /* .glass-toggle::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}  */

 .glass-toggle.active {
  background: linear-gradient(
    135deg,
    rgba(126, 242, 179, 0.6),
    rgba(91, 140, 255, 0.6)
  );
} 

 .glass-toggle.active::before {
  transform: translateX(54px);
}  
